body {
    font-family: 'Edu TAS Beginner', cursive;
}


h1 {
    text-align:center;
}

.winner {
    display: hidden;
}

.game-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    gap: 20px;
    justify-content: center;

}

.box {
    text-align: center;
    width: 75px;
    height: 70px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    animation: mymove 15s infinite alternate;
}

.x {
    background-color: rgb(132, 0, 255); 
    text-align: center;
    width: 75px;
    height: 70px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}
.o {
    background-color: rgb(223, 61, 255);
    text-align: center;
    width: 75px;
    height: 70px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

@keyframes mymove {
   0% {
    background-color: rgb(98, 63, 255);
   }
   14% {
    background-color: rgb(195, 0, 255);
   }

    28% {
     background-color: rgb(255, 122, 242);
    }
    42% {
     background-color: rgb(255, 4, 159);
    }
    66% {
     background-color: rgb(255, 16, 96);
    }
    82% {
     background-color: rgb(123, 7, 206);
    }
    100% {
     background-color: violet;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Button Styles */

.button {
    cursor: pointer;
    visibility: hidden;
}

.input {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.input:hover {
    outline: none;
}
.round {
    transition: 0.3s ease;
    border: none;
    border-radius: 30px;
}
.roundB {
    background-color: rgb(195, 122, 255);
    box-shadow: inset 0 0 30px gray;
}
.roundB:hover {
    box-shadow: inset 0 0 10px rgb(128, 128, 128);
    color: rgb(0, 0, 0);
    background-color: rgb(243, 205, 255);
}