body {
    font-family: 'Arial', sans-serif;
    background-color: #555555;
    margin: 0;
    padding: 0;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}


