body {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2 {
font-family: "rafaella", sans-serif;
font-weight: 700;
font-style: normal;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

label {
  font-weight: bold;
}

input {
  padding: 1.5%;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.87);
  color: rgb(238,174,202);
  font-weight: bold;
}

input:focus {
  outline-color: rgb(238,174,202);;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  margin: 2%;
  padding: 2%;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.87);
  color: rgb(238,174,202);
  font-weight: bold;
}

button:hover {
  scale: 1.1;
}

